// Define variables for your color scheme

// For example:
$red: #FF6B4A;
$blue: #57C4E5;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #7C7A7A;

// colours
$blue: #57C4E5;
$red: #FF6B4A;
$light-grey: #7C7A7A;
$grey: #494949;
$black: #000;
$light-background: #F2F2F2
