// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Sharpie";
  src: font-url('Sharpie-Variable.ttf');
  src: font-url('Sharpie-Variable.ttf') format('ttf')
}

@font-face {
  font-family: "Satoshi";
  src: font-url("Satoshi-Variable.ttf");
  src: font-url("Satoshi-Variable.ttf") format('ttf')
}

$headers-font: "Sharpie";
$body-font: "Satoshi";
