.explore {
  margin: 0 auto;
  background: $red !important;
  width: 120px !important;
  min-width: none !important;
  z-index: 2;
}

#main-headline {
  animation-name: main;
  animation-duration: 10s;
  animation-timing-function: linear;
}

#moving-headline {
  font-size: 160px;
  color: white;
  opacity: 0%;
  line-height: 120px;
  animation-name: slide-in;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


// @keyframes slide-in {
//   from {
//     translate: 120vw 40vh;
//     scale: 200% 1;
//   }

//   to {
//     translate: 0 0;
//     scale: 100% 1;
//   }
// }
