.container {
  height: 100vh;
  background-color: $blue;
  text-align: left;
}

.your-booking {
  padding: 10px;
  padding-left:15px;
  margin:0;
  margin-top:60px;
  h1{
    margin: 0;
  }
}

.your-item{
  padding: 10px;
  padding-left:15px;
  h2{
    font-family: $body-font;
  }
}

.dates{
  padding: 10px;
  padding-left:15px;
  padding-top:0;
}
