<div class= "container">
 <div class="your-booking">
    <h1>Your booking</h1>
  </div>

  <div class="your-item">
    <p>Item:</p>
    <h2><%= @item.name %></h2>
  </div>

  <div class="dates">
    <p>Choose your dates:</p>
   <%#  <form> <%= simple_form_for(@event, data: {
        #controller: "flatpickr"
        }) do || %>
        <%#  %= f.input :start_time, as: :string, input_html: {class: 'fp_date_time'} %>
    <%#  %><<%#  %><%# </form> %>
  </div>

</div>
