<div class="navbar">
  <%= link_to search_path do %>
    <i class="bi bi-search search-i"></i>
  <% end %>
  <% if current_user %>
    <%= link_to dashboard_path(current_user) do %>
      <i class="bi bi-person"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <i class="bi bi-person"></i>
    <% end %>
  <% end %>
</div>
