<section class="listed-items">
<h2>My items</h2>
<%# how can I interate over the items and display the items %>
<%# items.any? if contains item returns true//
<%#items.each = interating over the array %>
<% if @items.any? %>
  <ul>
    <% @items.each do |item| %>
      <li class="items-li" style= "width: 90%; padding: 13px; margin-bottom: 18px;">
        <div class="flex-items">
          <div class="left-text">
            <h4 style="margin-left: 8px;"> <%= item.name %></h4>
          </div>
          <div>
            <%= link_to '#' do %>
              <p class="button-simple smaller-p" style="margin-top: 0px; padding: 8px 14px;">Edit</p>
            <% end %>
            <%= link_to item_path(item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <p class="button-simple smaller-p" style="margin-top: 4px; padding: 8px 14px;">Delete</p>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <% else %>
    <p> No items </p>
  <% end %>
</section>
