.button-simple {
  font-family: $body-font;
  color: #fff;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: $red;
  min-width: 200px;

  &:hover {
    border-radius: 0px;
    transition: .2s;
  }
}

.button-important {
  font-family: $headers-font;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: $blue;

  &:hover {
    border-radius: 0px;
    transition: .2s;
  }
}
